* {
	box-sizing: border-box;
}

:root {
	--primary: #1d232a;
	--secondary: #191e24;
	--text: #a6adba;
}

html,
body {
	width: 100%;
	height: 100%;
	flex: 1;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--primary) !important;
	color: var(--text) !important;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

main {
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

article {
	padding: 30px;
}

form {
	min-width: 250px;
	width: 75%;
	height: 200px;
	border-radius: 1rem;
	background: var(--secondary);
	padding: 1rem;
	margin-bottom: 30px;
}

iframe {
	width: 100%;
	height: 100%;
}

button {
	--tw-border-opacity: 1;
	border-color: hsl(var(262 80% 50%) / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: hsl(var(262 80% 50%) / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: hsl(var(262 80% 50%c) / var(--tw-text-opacity));
	outline-color: hsl(var(262 80% 50%) / 1);
}

footer {
	background: var(--secondary);
	width: 100%;
	padding: 30px 10px;
	position: fixed;
	bottom: 0;
	text-align: center;
	display: flex;
}

footer * {
	margin-left: 10px;
}

footer p {
	margin: 0;
}

footer *:first-child {
	margin-left: 0;
}
